<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <div id="taskModal" class="modal">
        <form action="/add" method="POST" class="task-form"
            <h2>New Task</h2>

            <label for="content">Task Content</label>
            <input type="text" name="content" placeholder="e.g. Finish Flask UI" required>

            <label for="priority">Level of Priority</label>
            <select name="priority" id="priority">
                <option value="1">Low</option>
                <option value="2">Medium</option>
                <option value="3">High</option>
            </select>

            <label for="due_date">Due Date</label>
            <input type="date" name="due_date">

            <div class="form-actions">
                <button type="button" onclick="closeModal()">Cancel</button>
                <button type="submit" class="primary-button">Create Task</button>
            </div>
        </form>
    </div>

    <ul>
        {% for task in tasks %}
        <li>
            <strong>{{ task.content }}</strong>

            <span class="badge-{{ task.priority_label.lower() }}">Priority: {{ task.priority_label }}</span>

            <span class="badge-{{ task.priority_label.lower()}}">Due Date: {{ task.due_date }}</span>

            <span class="badge-{{ task.priority_label.lower() }}">Status: {{ "Done" if task.isCompleted else "Pending"}}</span>
        </li>
        {% endfor %}
    </ul>


</html>
